<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<table cellspacing="0" align="center" style="width: 100%">
    <tr>
        <td style="width: 20%"></td>
        <td style="width: 60%; text-align: left"><p class="indexof">索引 /{{ path }}</p></td>
        <td style="width: 30%; text-align: left"><p class="to_img"><a
                href="{{ url_for('main_list',path_name=path) }}">list</a></p></td>
    </tr>
    {% if path != '' %}
        <tr>
            <td style="width: 10%"></td>
            <td class="updir" style="text-align: left"><a href="{{ url_for('list_img', file_path=up_dir) }}">
                <img class="icon" src="/static/updir.gif" alt="">上一目录..</a>
            </td>
        </tr>
    {% endif %}
</table>
<div style="text-align: center; width: 100%">
    <table cellspacing="0" align="center" style="width: 100%">
        {% for item in imges %}
            {% if item.type == 'folder' %}
                <tr><td><a href="{{ url_for('list_img',file_path= item.path) }}">
                    <img style="width: 100%;" src="/static/folder.jpg">
                </a>
                </td></tr>
                <tr><td>{{ item.name }}</td></tr>
            {% elif item.type == 'file' %}
                <tr><td><a href="{{ url_for('custom_file',file_path= item.path) }}">
                    <img style="width: 100%;" src="/static/file.jpg">
                </a>
                </td></tr>
                <tr><td>{{ item.name }}</td></tr>
            {% elif item.type == 'img_folder' %}
                <tr><td><a href="{{ url_for('list_img',file_path= item.path) }}">
                    <img style="width: 100%;" src="{{ url_for('custom_file',file_path= item.img_path) }}">
                </a>
                </td></tr>
                <tr><td>{{ item.name }}</td></tr>
            {% elif item.type == 'image' %}
                <tr><td><img style="width: 100%;" src="{{ url_for('custom_file',file_path= item.img_path) }}"></td></tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
</body>
</html>